<?xml version="1.0"?>
<launch>

    <!-- <include file="$(find gra_core)/launch/machines.launch" /> -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find gra_navigation)/description/robot.urdf.xacro" />

    <!-- ros_control server, provide ControllerManager which allows controller 
    plugins to access them -->
    <node pkg="gra_base" type="cirkit_unit03_hw" name="cirkit_unit03_hw" output="screen"/>

    <!-- rosparam configuration required by the controller -->
    <rosparam file="$(find gra_base)/config/controller.yaml" command="load"/>

    <!-- Load the controller -->
    <node pkg="controller_manager" type="spawner" name="controller_spawner" output="screen"
        args="gra_base/ackermann_steering_controller joint_state_controller/JointStateController"/>

</launch>